@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p><b>Student: </b>@ViewData["Aluno"]</p>

<address>

    <strong>More information: </strong><a href="https://csdesenvolvimento.xyz" target="_blank">Portfólio</a>

</address>