@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p><b>Phone: </b> +55 (11) 94030-6821</p>
<p><b>Email: </b> cristiano.souzac@hotmail.com.br</p>

<address>
    <strong>Course:</strong> <a href="https://www.udemy.com/course/programacao-orientada-a-objetos-csharp/" target="_blank">COMPLETE C # 2020 Object Oriented Programming + Projects</a>
</address>
